.order-services,
.submit,
.modal-submit {
  // @include centeredFlex(inline-flex, center);

  color: $color-primary;
  background-color: $color-accent;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;
  border: none;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  transition: background-color 250ms $transition-time;
}

.submit {
  // @include centeredFlex(inline-flex, space-between);

  margin-top: 20px;
  // align-items: center;
  // padding: 10px 28px;
  // margin-left: 12px;
}

.filter {
  color: $color-text-secondary;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  // padding: 6px 22px;
  border: none;

  transition: color 250ms $transition-time,
    background-color 250ms $transition-time, box-shadow 250ms $transition-time;

  &:hover,
  &:focus {
    color: $color-primary;
    background-color: $color-accent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
