.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
  z-index: 999;

  transform: translateX(150%);
  transition: transform 250ms $transition-time;

  background-color: $color-primary;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 12px;
  color: $color-text-secondary;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &:focus {
    color: $color-accent;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-toggle__icon {
  fill: currentColor;

  transition: color 250ms $transition-time;

  &:hover {
    color: $color-accent;
  }
}

.mobile-menu-nav {
  @extend %list;
  margin-bottom: 302px;
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  @extend %link;

  color: $color-text-secondary;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition: color 250ms $transition-time;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.mobile-menu-nav__link--current {
  color: $color-accent;
}

.mobile-menu-contacts {
  @extend %list;
}

.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__link {
  @extend %link;
}

.mobile-menu-contacts__link--first {
  font-size: 34px;
  line-height: 1.17;
  color: $color-accent;
}

.mobile-menu-contacts__link--last {
  font-size: 24px;
  line-height: 1.16;
  color: $color-text-primary;
}

.mobile-menu-social {
  margin-top: 64px;
}

.mobile-menu-social__link {
  @extend %link;

  font-size: 18px;
  line-height: 1.22;
  color: $color-accent;
}

.mobile-menu-social__divider {
  font-size: 22px;
  line-height: 1.22;
  color: rgba(33, 33, 33, 0.2);

  margin-left: 10px;
  margin-right: 10px;
}
