.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms $transition-time, visibility 250ms $transition-time;
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  padding: 40px;

  width: 450px;
  height: 609px;
  // width: 528px;
  // height: 581px;
  background-color: $color-primary;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms $transition-time;

  .backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;

  background-color: transparent;
  cursor: pointer;
  color: #000;

  &:focus {
    color: $color-accent;
  }
}

.modal-button__closing-icon {
  fill: currentColor;
  stroke: rgba(0, 0, 0, 0.1);
  transition: color 250ms $transition-time;

  &:hover {
    color: $color-accent;
  }
}

.modal__header {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;

  color: $color-text-secondary;
}

input:focus,
textarea:focus {
  outline: none;
}

.modal-form__label {
  display: block;
  position: relative;
  height: 58px;
  margin-bottom: 10px;

  color: $color-text-secondary;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  &:nth-child(4) {
    height: 138px;
    margin-bottom: 20px;
  }
}

.modal-form__label--sup {
  color: $color-text-primary;
}

.modal-form__input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  min-width: 370px;
  // min-width: 448px;
  height: 40px;
  padding: 11px 12px;
  padding-left: 40px;
  margin-top: 4px;

  font-size: 12px;
  resize: none;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $color-text-secondary;

  transition: border-color 250ms $transition-time;

  &:focus {
    border-color: $color-accent;
  }
}

.modal-form__svg {
  fill: currentColor;

  position: absolute;
  top: 28px;
  left: 12px;

  transition: fill 250ms $transition-time;

  .modal-form__input:focus ~ & {
    fill: $color-accent;
  }
}

.modal-form__input--large {
  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__checkbox-label {
  @include centeredFlex(flex, center);

  align-items: center;
  margin-bottom: 30px;

  color: $color-text-primary;

  font-size: 12px;
  line-height: 1.16;
  // font-size: 14px;
  // line-height: 1.71;
}

.modal-form__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__checkbox-link {
  color: $color-accent;
  margin-left: 3px;
}

.modal-form__checkbox-icon {
  display: flex;
  align-items: center;

  border: 2px solid $color-text-secondary;
  border-radius: 3px;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  transition: border-color 250ms $transition-time,
    background-color 250ms $transition-time,
    background-image 250ms $transition-time;

  .modal-form__checkbox-input:checked + & {
    background-image: url(../images/checked.svg);
    background-size: contain;
    background-color: $color-accent;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    border-color: transparent;
  }

  .modal-form__checkbox-input:focus + & {
    border-color: $color-accent;
  }
}

.modal-submit {
  width: 200px;
  height: 50px;
}

.modal-submit-thumb {
  @include centeredFlex(flex, center);
}
