.customers {
  @extend %list;

  @include centeredFlex(flex, space-between);
  flex-wrap: wrap;
  flex-basis: calc((100% - 60px) / 2);
  margin-top: calc(-1 * #{$item-gap});
  margin-left: calc(-1 * #{$item-gap});
}

.customers__item {
  margin-top: $item-gap;
  margin-left: $item-gap;
}

.customers__thumb {
  @include centeredFlex(flex, center);

  align-items: center;
  color: $color-icon-fill;
  background-color: $color-primary;
  width: 210px;
  height: 92px;
  border: 1px solid $color-icon-fill;
  border-radius: 4px;

  transition: border-color 250ms $transition-time;

  &:hover,
  &:focus {
    border-color: $color-accent;
  }
}

.customers__icon {
  fill: currentColor;

  transition: fill 250ms $transition-time;

  .customers__thumb:hover &,
  .customers__thumb:focus & {
    fill: $color-accent;
  }
}
