.team {
  @extend %list;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$item-gap});
    margin-top: calc(-1 * #{$item-gap});
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__item {
  background: $color-primary;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 354px;

    margin-top: $item-gap;
    margin-left: $item-gap;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__card {
  padding-top: 30px;
  padding-bottom: 24px;
  // padding-left: 32px;
  // padding-right: 32px;
}

.team__header {
  color: $color-text-secondary;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team__occupation {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.social {
  @extend %list;
  @include centeredFlex(flex, center);
}

.social__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social__link {
  @include centeredFlex(flex, center);
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: $color-icon-fill;

  transition: background-color 250ms $transition-time;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.social__link--white {
  color: $color-primary;
}

.social__icon {
  fill: currentColor;

  transition: fill 250ms $transition-time;

  .social__link:hover &,
  .social__link:focus & {
    fill: $color-primary;
  }
}
