.visually-hidden {
  @extend %visually-hidden;
}

.peculiarities {
  @extend %list;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * #{$item-gap});
    margin-top: calc(-1 * #{$item-gap});
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.peculiarities__item {
  // display: inline-block;
  // flex-basis: calc(100% / 4 - 22px);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: $item-gap;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 354px;

    margin-top: $item-gap;
    margin-left: $item-gap;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 4 - 22px);
    display: inline-block;

    &:not(:last-child) {
      margin-right: $item-gap;
    }
  }
}

.peculiarities-thumb {
  @include centeredFlex(flex, center);
  align-items: center;

  background-color: $color-our-team;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.peculiarities__subheader {
  margin-bottom: 10px;

  color: $color-text-secondary;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
