.visually-hidden {
  @extend %visually-hidden;
}

.portfolio-btn {
  @extend %list;

  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.portfolio-btn__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  &:nth-child(-n + 3) {
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

.portfolio {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * #{$item-gap});
    margin-left: calc(-1 * #{$item-gap});
  }
}

.portfolio__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: $item-gap;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: $item-gap;
    margin-left: $item-gap;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.product {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
  }
}

.product__link {
  @extend %link;

  display: block;

  transition: box-shadow 250ms $transition-time;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__label {
  padding: 20px 24px;
  background: $color-primary;
  border: 1px solid #eeeeee;
  border-top: transparent;
  box-sizing: border-box;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.product__title {
  color: $color-text-secondary;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__item {
  color: $color-text-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: $color-accent;
  opacity: 0.9;
  padding: 77px 24px;

  transform: translatey(100%);

  transition: transform 250ms $transition-time;

  .product__link:hover &,
  .product__link:focus & {
    transform: translatey(0);
  }

  @media screen and (min-width: $tablet) {
    padding: 49px 24px;
  }

  @media screen and (min-width: $desktop) {
    padding: 63px 24px;
  }
}

.overlay__text {
  color: $color-primary;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
