.section {
  padding-top: 60px;
  padding-bottom: 60px;

  // &:nth-of-type(3) {
  //   padding-top: 0;
  // }

  &:nth-last-child(2) {
    background-color: $color-our-team;
  }
}

.section__title {
  margin-bottom: 30px;

  color: $color-text-secondary;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
