.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $color-secondary;

  text-align: center;
}

// .footer__container {
//   display: flex;
//   @include headerAndFooterContainers(baseline);
// }
