.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $color-secondary;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.upper-part-for-tablet {
  @media screen and (min-width: $tablet) {
    @include headerAndFooterContainers(baseline);
    justify-content: space-around;
  }
}

.footer__container {
  @media screen and (min-width: $desktop) {
    display: flex;
    @include headerAndFooterContainers(baseline);
  }
}
