// .left-part {
//   margin-right: 70px;
//   width: 231px;
// }

.address {
  @extend %list;
}

// .address__item {
//   &:not(:last-child) {
//     margin-bottom: 9px;
//   }
// }

.address__link {
  @extend %link;

  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms $transition-time;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.address__link--white {
  color: $color-primary;
}
