.middle-part {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
  // width: 206px;
}

.middle-part__title {
  margin-bottom: 20px;

  color: $color-primary;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
