.middle-part {
  width: 206px;
  margin-right: 93px;
}

.middle-part__title {
  margin-bottom: 20px;

  color: $color-primary;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}
