.contacts {
  @extend %list;

  // display: flex;
  margin-left: auto;
}

// .contacts__item:last-child {
//   margin-left: 30px;
// }

.contacts__link {
  @extend %link;

  // display: inline-flex;
  // align-items: center;
  color: $color-text-primary;
  // padding-top: 32px;
  // padding-bottom: 32px;

  transition: color 250ms $transition-time;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.icon-envelope {
  width: 16px;
  height: 12px;
  // margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: $color-accent;
  }
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  // margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: $color-accent;
  }
}
