.header {
  position: relative;

  border-bottom: 1px solid #ececec;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.header__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    @include headerAndFooterContainers(center);
  }
}

.header__nav {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
