.site-nav {
  @extend %list;

  // display: flex;

  // margin-left: 93px;
}

.site-nav__item {
  position: relative;

  // &:not(:last-child) {
  //   margin-right: 50px;
  // }
}

.site-nav__link {
  @extend %link;

  // display: block;

  // padding-top: 32px;
  // padding-bottom: 32px;

  color: $color-text-secondary;
  transition: color 250ms $transition-time;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.site-nav__link--current {
  color: $color-accent;

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $color-accent;

    animation: intro 250ms $transition-time;
  }
}

.hover-effect {
  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $color-accent;

    transform: scaleX(0);
    opacity: 0;
    transition: transform 250ms $transition-time, opacity 250ms $transition-time;
  }
  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: scaleX(1);
  }
}
