$color-primary: #ffffff;
$color-secondary: #2f303a;
$color-accent: #2196f3;
$color-our-team: #f5f4fa;

$color-text-primary: #757575;
$color-text-secondary: #212121;

$color-icon-fill: #afb1b8;

$item-gap: 30px;

$transition-time: cubic-bezier(0.4, 0, 0.2, 1);
